.banner {
  min-height: 16em;
  color: #fff;
}

.banner-title {
  color: #fff;
}

.banner-info {
  max-width: 19em;
}

.banner-content {
  z-index: 10;
}

.banner-icon {
  display: none;
}

.banner::after,
.banner::before {
  left: 0;
  height: 300%;
  position: absolute;
  top: 0;
  width: 200%;

  background-image: linear-gradient(to bottom right, rgba(124, 52, 94, .8), rgba(124, 52, 94, 1));

  content: " ";
}

.banner::after {
  left: 50%;
  background-image: linear-gradient(to top right, rgba(124, 52, 94, .8), rgba(124, 52, 94, 1));
  transform-origin: top left;
  transform: rotate(33deg) translateY(-30%);
}

@media only screen and (min-width: 38em) {

  .banner {
    min-height: none;
  }

}

@media only screen and (min-width: 60em) {

  .banner-icon {
    bottom: -24px;
    display: block;
    right: 10%;
    z-index: 11;
    color: var(--color-primary-light);
  }

}
