.btn {
  padding-left: 2em;
  padding-right: 2em;

  background-image: none;
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  border-radius: 5em;

  color: #fff;
  font-family: var(--font-secondary);
}

.btn-light {
  background-color: var(--color-primary-light);
  border-color: var(--color-primary-light);

  color: var(--color-primary);
}

.btn-ghost {
  background-color: transparent;

  color: var(--color-primary);
}
